mixin SectionTitle(location, subtitle, title)
  h5(class=`text-secondary text-${location} fw-semi-bold font-sans-serif`) #{subtitle} 
  h3(class=`fs-xl-10 fs-lg-8 fs-7 text-${location} text-capitalize`)= title
