append variables 
  - 
    var services= [
      {
        image: 'icon1.png',
        title: 'Calculated Weather',
        text: 'Built Wicket longer admire do barton vanity itself do in it.'
      },
      {
        image: 'icon2.png',
        title: 'Best Flights',
        text: 'Engrossed listening. Park gate sell they west hard for the.'
      },
      {
        image: 'icon3.png',
        title: 'Local Events',
        text: 'Barton vanity itself do in it. Preferd to men it engrossed listening.'
      },
      {
        image: 'icon4.png',
        title: 'Customization',
        text: 'We deliver outsourced aviation services for military customers'
      }
    ]

mixin Service 
  +Section(style="padding-top: 6.1rem")
    .position-absolute.z-index--1.start-xxl-100.end-0.end-xxl-unset.translate-xxl-middle-x 
      img(src=`${CWD}assets/img/category/shape.svg`, style="max-width: 300px" alt="service")
    .mb-7 
      +SectionTitle('CATEGORY', 'We Offer Best Services')
    .row 
      each val in services
        +ServiceCard(val)